@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Tajawal:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
}
.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
} 
/* Small */
@media (min-width: 768px) {
.container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
.container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
.container {
    width: 1170px;
  }
}

header {
    text-decoration: none;
}
header {
    padding: 3px 25px;
    margin: 4px;
    background-color: #FFFFFF;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 
                0 2px 4px 0 rgb(0 0 0 / 12%);
}
#logo {
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Tajawal' sans-serif;
    display: flex;
    align-items: center;
}
#logo a {
    color: black;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    font-size: 18px;
    font-weight: 600;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
 header nav ul a {
    text-decoration: none;
    color: black;
}
header nav ul li {
    padding: 5px;
    margin-left: 10px;
}
header nav ul li a.active,
ul li a:hover {
    text-decoration: underline;
    transition: 0.3s;
}
#contact-us {
    border-radius: 5px;
    padding: 5px 8px;
    text-decoration: none;
    color: white;
    background-color: #272063;
    border: 1px solid #272063;
    cursor: pointer;
}
#contact-us:hover {
    background-color: darkslateblue;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon  div {
    width: 35px;
    height: 3px;
    background-color: steelblue;
    margin: 6px 0;
    transition: 0.6s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: dimgrey;
    height: fit-content;
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
.mobile-menu li {
    margin-bottom: 10px;
    margin-top: 20px;
}
.mobile-menu li a {
    color: #FFFFFF;
    text-decoration: none;
}
.mobile-menu li a.active {
    text-decoration: underline; 
}
@media only screen and (max-width: 991px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
    display: block;
    }
}

.contactUs{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.form-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #181433;
    transition: 0.5s;
    direction: rtl;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Somar, sans-serif;
    text-align: right;
    overflow: scroll;
}
.form-container h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.8;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding-right: 60px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.form-container p {
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 60px;
    font-size: 24px;
    text-align: justify;
    margin-bottom: 30px;
}
.form-container p:first-of-type {
    width: 500px;
    height: 100px;
    line-height: 1.7;
}
@media (max-width: 991px) {
    .form-container p:first-of-type {
        width: 80%;
    }
}
.form-container .closebtn {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #FFFFFF;
    cursor: pointer;
}
.form-container form input {
    width: 500px;
    margin-right: 60px;
    background: #393458;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
    height: 50px;
}
@media (max-width: 1199px) {
    .form-container form input {
        width: 80%;
    }
}
@media (max-width: 768px) {
    .form-container form input {
        width: 70%;
    }
}
.form-container form input#name,
.form-container form input#email {
    height: 50px;
}
.form-container form input#message {
    height: 250px;
}
::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    padding-right: 20px;
    color: #536197;
}
.form-container div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    margin-right: 60px;
    margin-top: -15px;
    color: #FFFFFF;
}
.form-container div>button {
    width: 118px;
    height: 37px;
    margin-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #312B50;
    border-radius: 15px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
}
.form-container>button {
    width: 160px;
    height: 38px;
    background: #D9D9D9;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    cursor: pointer;
    color: #181433;
    margin-top: 38px;
    float: left;
}
@media (max-width: 1199px) {
    .form-container {
        background-image: unset;
    }
    .form-container p:first-of-type,
    .form-container p:nth-of-type(2),
    .form-container p:last-of-type {
        font-size: 16px;
            width: 80%;
    }
    .form-container>button {
        margin-left: 4px;
        font-size: 16px;
        width: 120px;
        height: 38px;
    }
}
@media (max-width: 991px) {
    .form-container>button {
        margin-left: 0px;
    }
}
.form-container p:nth-of-type(2) {
    margin-right: 69px;
}
.form-container p:last-child {
    margin-top: 20px;
    width: 50%;
    font-weight: 400;
    line-height: 1.5;
}

.show-cases {
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.show-cases h1 {
    font-size: 5rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    color: #000000;
    margin: 5%;
}
.show-cases p {
    font-size: 3rem;
    color: #000000;
    line-height: 1.3;
    margin: 5%;
    width: 65%;
}
.show-cases .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10rem;
    margin-right: 5%;
    margin-left: 5%;
}
.show-cases .images .card {
    background-color: white;
    border-radius: 1.5rem;
    margin-bottom: 5rem;
}
.show-cases .images .card img {
    max-width: 100%;
    margin-bottom: 2rem;
}

.img h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 6rem;
    margin-top: auto;
}
.img .cir {
    background-color: #181433;
    width: 50px;
    height: 50p;
} 

@media (max-width: 762px) {
    .show-cases .container h1 {
        font-size: 4rem;
        
    }
    .show-cases .container p {
        font-size: 2.5rem;
        
    }
    .images {
        display: block;
        text-align: center;
    }
    .images .card .title h2{
        font-size: 2rem;
    }
}

.footer {
    padding: 5px;
    margin-top: 15rem;
}

.footer .container {
    position: relative;
    background-color: #181433;
    padding: 5px;
    width: 100%;
}
.footer .content {
    flex-basis: 35%;
}
.footer .content h3 {
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 40px;
    margin-top: 6rem;
}
.footer .content h4 {
    font-size: 16px;
    margin-bottom: revert;
    margin-top: 8rem;
    color: #FFFFFF;
}
.footer .content p {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 3rem;
}
.footer .container {
     width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 0px;
    padding: 3px 25px;
}
.shape {
    align-self: end;
}
.contact .send-us h4 {
    font-size: 18px;
    font-weight: bold;
    color: #473EA5;
    margin-top: 6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.send-us i {
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
}
.contact .social h4 {
    font-size: 18px;
    font-weight: bold;
    color: #473EA5;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.social ul {
    list-style: none;
    font-size: 16px;
    font-weight: inherit;
    line-height: 1.5;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
}
.social ul li:hover {
    color: #473EA5;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
    } 
  .shape {
    display: none;
}
}

@media (max-width: 768px) {
    .footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .shape {
        display: none;
    }
    
}
@media (max-width: 400px) {
    .footer .container {
        grid-template-columns: repeat(1, 1fr);
    }
   .shape {
        display: none; 
    }
    
} 